{% extends "layout.html" %}

{% block content %}
    <div class="jumbotron text-center">
        <div class="container">
            <a href="/" class="lang-logo">
                <img src="../resources/images/download.jpg">
            </a>
            <h1>Product Review Container</h1>
            <p>A ekomi app for bigCommerce</p>
        </div>
    </div>
    <div class="container">
        {% if alert is defined %}
            <div class="alert alert-{{alert}} text-center" role="alert">
                {{message}}
            </div>
        {% endif %}
        <hr>
        <div class="row">
            <div class="col-md-4">
                The eKomi product review container allows an easy integration of eKomi Reviews and ratings into your webshop. It allows you individual positioning of product reviews and includes the Google rich snippet functionality.
                Before installing and activating your plugin, please contact support@ekomi.de, this is necessary to ensure everything has been set up correctly and activated from eKomi’s side.

            </div>
            <div class="col-md-8">
                <br>
                <form method="POST" action="saveConfig">
                    <table name="prc_configuration" class="ekomi-configuration">
                        <tbody>
                            <tr valign="top">
                                <th scope="row">
                                    <label for="enabled">Status</label>
                                </th>
                                <td>
                                    <div class="form-group row">
                                        <select class="form-control" name="enabled" id="enabled" value="0">
                                            <option value="0" selected="">Disable</option>
                                            <option value="1">Enable</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr valign="top">
                                <th scope="row">
                                    <label for="shopId">Shop ID</label>
                                </th>
                                <td>
                                    <div class="form-group row">
                                        <input  type="text" name="shopId" id="shopId" class="form-control" value="{{(config['shopId'] is defined)?config['shopId']:''}}">
                                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                    </div>
                                </td>
                            </tr>
                            <tr valign="top">
                                <th scope="row">
                                    <label for="shopSecret">Shop Secret</label>
                                </th>
                                <td>
                                    <div class="form-group row">
                                        <input type="text" name="shopSecret" id="prc_shop_pw" class="form-control" value="{{(config['shopSecret'] is defined)?config['shopSecret']:''}}">
                                    </div>
                                </td>
                            </tr>
                            <tr valign="top">
                                <th scope="row">
                                    <label for="groupReviews">Group Reviews</label>
                                </th>
                                <td>
                                    <div class="form-group row">
                                        <select name="groupReviews" id="groupReviews" class="form-control" value="0">
                                            <option value="0" selected="">Disable</option>
                                            <option value="1">Enable</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr valign="top">
                                <th scope="row">
                                    <label for="noReviewsTxt">Text when no reviews found</label>
                                </th>
                                <td>
                                    <div class="form-group row">
                                        <textarea class="form-control" name="noReviewsTxt" id="noReviewsTxt" rows="3">{{(config['noReviewsTxt'] is defined)?config['noReviewsTxt']:''}}</textarea>
                                    </div>
                                </td>
                            </tr>
                            <tr valign="top">
                                <th></th>
                                <td class="ekomi-submit">
                                    <div class="form-group row">
                                        <input type="hidden" id="_wpnonce" name="_wpnonce" value="1a5bc2713e">
                                        <input type="hidden" name="_wp_http_referer" value="/wordpress/wp-admin/admin.php?page=ekomi-prc-plugin">                    
                                        <input type="submit" onclick="show_loader(this)" value="Save" class="btn-primary">
                                    </div>
                                </td>
                            </tr>
                            <tr valign="top">
                                <th></th>
                                <td class="centered">
                                    <div id="loader" style="display: none; position: absolute;left: 33%; width: 100%;">
                                        <br>
                                        <br>
                                        Loading Reviews ...                        <br>
                                        <img src="../resources/images/loader.gif">
                                    </div>
                                </td>
                            </tr>
                        </tbody></table>
                </form>
            </div>
        </div> <!-- row -->
    </div>

{% endblock %}
